<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blog{% endblock %}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">

        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('create_post') }}">Create Post</a></li> <!-- Added Create Post link -->
            </ul>
        </nav>
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}


    <main>
        {% block content %}{% endblock %}
    </main>
         </div>
    <footer>
        <p>&copy; 2024 My Blog</p>
    </footer>
</body>
</html>